<div class="contenedor">
    <div class="sticky">
        <h1>Ingresa!</h1>
        <div class="line"></div>
    </div>

    <form class="lgForm" action="/api/sessions/login" method="POST">
        <input class="lgFormItem" type="email" name="email" placeholder="Usuario (e-Mail)" required>
        <input class="lgFormItem" type="text" name="password" placeholder="Contraseña" required>
        <button class="lgFormBtn" type="submit">Ingresar</button>
        <p>No estas reguistrado? <a class="loginLink" href="/register">Registrate!!</a></p>
    </form>

</div>