<form action="/api/sessions/login" method="POST">
    <input type="email" name="email" placeholder="Usuario (e-Mail)" required>
    <input type="text" name="password" placeholder="Contraseña" required>
    <button type="submit">Ingresar</button>
    <p>No estas reguistrado? <a href="/register">Registrate aqui</a></p>
</form>