<div class="contenedor">
    <div class="sticky">
        <h1>Registrate!</h1>
        <div class="line"></div>
    </div>


    <form class="lgForm"  action="api/users" method="POST">
        <input class="lgFormItem" type="text" name="first_name" id="" placeholder="Nombre" required>
        <input class="lgFormItem" type="text" name="last_name" id="" placeholder="Apellido" required>
        <input class="lgFormItem" type="number" name="age" id="" placeholder="Edad" required>
        <input class="lgFormItem" type="email" name="email" id="" placeholder="eMail" required>
        <input class="lgFormItem" type="text" name="password" id="" placeholder="Contraseña" required>
        <input class="lgFormItem" type="text" name="repassword" id="" placeholder="Reingrese Contraseña" required>
        <button class="lgFormBtn" type="submit">Registrarse</button>
        <p>Ya estas registrado? <a class="loginLink" href="/login">Ingresa!!</a></p>


    </form>
</div>