<form action="api/users" method="POST">
    <input type="text" name="first_name" id="" placeholder="Nombre" required>
    <input type="text" name="last_name" id="" placeholder="Apellido" required>
    <input type="number" name="age" id="" placeholder="Edad" required>
    <input type="email" name="email" id="" placeholder="eMail" required>
    <input type="text" name="password" id="" placeholder="Contraseña" required>
    <input type="text" name="repassword" id="" placeholder="Reingrese Contraseña" required>
    <button type="submit">Registrarse</button>
    <p>Ya estas registrado? <a href="/login">Ingresar</a></p>


</form>