<header>
    <div class="contenedor contNav">
        <nav class="nav">
            <a href="/" class=""> LOGO </a>
            <ul>
                <li> <a href="/products"> Carrito </a></li>
                <li> <a href=""> Chat </a></li>
                <li> <a href=""> Login </a></li>
            </ul>
        </nav>
        <div class="line"></div>
        <div class="navUser">
            <p>Hola PABLO ()</p>
        </div>
    </div>
</header>